.gallery {
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fit, 270px);
    grid-auto-rows: 230px;
    grid-gap: 12px;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    }

.photo-card {
    width: 270px;
    height: 230px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.info {
    display: flex;
    justify-content: space-around;
    
    }
.info-item {
   text-align: center;
    margin-top: 8px;
    font-size: 15px;
}
.gallery a {
    display: block;
}

img {
    display: block;
    height: 180px;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
    
}
.load-more {
    display: none;
    background-color: #2196F3;
    color: #FFFFFF;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 24px;
    &:hover,
    &:focus {
            background-color: #188CE8;
}
}